<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="cabecalho :: head"></div>
        
        <title>Crud Manager GEMUINES - Gerenciamento Municipal de Instituições de Ensino Superior</title>
    </head>
    <body>
    <div th:replace="navbar :: body"></div>
        <div class="container my-2">
            <h1>Estudantes</h1>
            <div>                
                <a th:href="@{/students/form}" class="btn btn-primary btn-sm mb-3 float-right">
                       Adicionar Estudante
        </a>
            </div>
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ira</th>
                        <th>Endereço</th>
                        <th>Instituição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${students}">
                        <td th:text="${s.name}"></td>
                        <td th:text="${s.ira}"></td>
                        <td th:text="${s.address}"></td>
                        <td th:text="${s.institution.getName()}"></td>
                        <td></td>
                        <td>
                        <a th:href="@{/students/update/{id}(id=${s.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/students/delete/{id}(id=${s.id})}" class="btn btn-primary">Excluir</a>

                                      
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>